<template>
  <div>
    <TaskListcomponent v-if="payload" :payload="payload"></TaskListcomponent>
  </div>
</template>

<script>
import TaskListcomponent from "@/components/task/List";

export default {
  name: "TaskListPage",
  data() {
    return {
      payload: null
    };
  },

  components: {
    TaskListcomponent
  },

  mounted() {
    this.prepareActionsAndFunctions();
  },

  methods: {
    async prepareActionsAndFunctions() {
      let current_route = this.$route.name;
      switch (current_route) {
        case "CompletedTask":
          this.payload = await this.makePayloadForCompletedTask();
          break;
        case "DeletedTask":
          this.payload = await this.makePayloadForDeletedTask();
          break;
        case "PendingTask":
          this.payload = await this.makePayloadForPendingTask();
          break;
        case "ExpiredTask":
          this.payload = await this.makePayloadForExpiredTask();
          break;
        case "CollaboratedTask":
          this.payload = await this.makePayloadForCollaboratedTask();
          break;
        default:
          this.payload = await this.makePayloadForTasks();
          break;
      }
    },
    
    async makePayloadForTasks() {
      let payload = {};
      payload.api_action = "task/list";
      payload.actions = [
        {
          icon: "mdi-eye",
          name: null,
          route: "TaskOverview"
        }
      ];
      payload.isExistMultiSelection = true;
      payload.multiSelectActions = [
        {
          icon: "mdi-delete",
          name: "deleteMultiple",
          route: null
        }
      ];
      return payload;
    },

    async makePayloadForCompletedTask() {
      let payload = {};
      payload.api_action = "task/getCompletedTasks";
      payload.actions = null;
      payload.isExistMultiSelection = true;
      payload.multiSelectActions = [
        {
          icon: "mdi-delete",
          name: "deleteMultiple",
          route: null
        }
      ];
      return payload;
    },

    async makePayloadForDeletedTask() {
      let payload = {};
      payload.api_action = "task/getDeletedTasks";
      payload.actions = [
        {
          icon: "mdi-refresh",
          name: "restore",
          route: null
        }
      ];
      payload.isExistMultiSelection = true;
      payload.multiSelectActions = [
        {
          icon: "mdi-delete",
          name: "permanentDeleteMultiple",
          route: null
        }
      ];
      return payload;
    },

    async makePayloadForPendingTask() {
      let payload = {};
      payload.api_action = "task/getPendingTasks";
      payload.actions = null;
      payload.isExistMultiSelection = true;
      payload.multiSelectActions = [
        {
          icon: "mdi-delete",
          name: "deleteMultiple",
          route: null
        }
      ];
      return payload;
    },

    async makePayloadForExpiredTask() {
      let payload = {};
      payload.api_action = "task/getExpiredTasks";
      payload.actions = null;
      payload.isExistMultiSelection = false;
      payload.multiSelectActions = false;
      return payload;
    },

    async makePayloadForCollaboratedTask() {
      let payload = {};
      // FIXME:: change name of api_action to something relevant
      payload.api_action = "user/getCollaboratedTask";
      payload.actions = [
        {
          icon: "mdi-eye",
          name: null,
          route: "TaskOverview"
        }
      ];
      payload.isExistMultiSelection = true;
      payload.multiSelectActions = [
        {
          icon: "mdi-delete",
          name: "deleteMultiple",
          route: null
        }
      ];
      return payload;
    }
  }
};
</script>