<template>
  <v-card flat v-if="task">
    <v-card-title class="headline font-weight-bold">
      {{task.title}}
      <v-spacer></v-spacer>
      <v-chip v-if="task.is_completed" dark color="pink">{{ $t('chip.completed') }}</v-chip>
    </v-card-title>

    <v-card-text class="title font-weight-light">
      <div>{{task.description}}</div>
      <div>{{moment(task.completion_date).format('D MMM YYYY')}}</div>
    </v-card-text>

    <v-card-actions class="justify-center">
      <v-btn color="pink" @click="edit_dialog = true" outlined dark>{{ $t('btn.update') }}</v-btn>
      <v-btn color="pink" @click="delete_dialog = true" outlined dark>{{ $t('btn.delete') }}</v-btn>
      <v-btn color="pink" @click="search_dialog = true" outlined dark>{{ $t('btn.collaborate') }}</v-btn>
    </v-card-actions>

    <EditDialog
      v-model="edit_dialog"
      :dialog="edit_dialog"
      v-if="edit_dialog"
      :task="task"
      @cancel="getTask(),edit_dialog = false"
    ></EditDialog>

    <ConfirmationDialog
      v-model="delete_dialog"
      :dialog="delete_dialog"
      v-if="delete_dialog"
      @confirm="deleteTask(),delete_dialog = false"
      @cancel="delete_dialog = false"
    ></ConfirmationDialog>

    <SearchUserDialog
      v-model="search_dialog"
      :dialog="search_dialog"
      v-if="search_dialog"
      @cancel="getTask(),search_dialog = false"
    ></SearchUserDialog>
  </v-card>
</template>

<script>
import EditDialog from "@/components/dialogs/task/Edit";
import ConfirmationDialog from "@/components/dialogs/task/Confirmation";
import SearchUserDialog from "@/components/dialogs/task/SearchUser";
import i18n from "@/i18n";
import moment from "moment";

export default {
  name: "TaskOverview",
  data() {
    return {
      task: null,
      edit_dialog: false,
      delete_dialog: false,
      search_dialog: false,
      current_id: null,
      moment
    };
  },

  components: {
    EditDialog,
    ConfirmationDialog,
    SearchUserDialog
  },

  mounted() {
    this.getTask();
  },

  methods: {
    async getTask() {
      try {
        var data = await this.$store.dispatch("task/get", {
          id: this.$route.params.id
        });
        this.task = data;
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    async deleteTask() {
      try {
        await this.$store.dispatch("task/delete", {
          id: this.task.id
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.task_deleted_successfully'),
          color: "success"
        });

        //closing confirmation dialog
        this.delete_dialog = false;

        // redirecting to home page
        this.$router.push({ name: "Dashboard" });
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
};
</script>
