<template>
  <div>
    <v-list two-line subheader>
      <v-subheader>
        <v-row>
          <v-col cols="6">{{ $t('label.tasks') }}</v-col>
          <v-col cols="6">
            <v-btn
              small
              text
              color="red"
              v-if="selected_ids && selected_ids.length"
              @click="deleteMultiple()"
            >{{ $t('btn.delete_selected') }}</v-btn>
          </v-col>
        </v-row>
      </v-subheader>

      <v-list-item v-for="(item,index) in list" :key="index">
        <v-list-item-avatar>
          <!-- This icon will be displayed when task is selected -->
          <v-icon
            color="success"
            v-if="taskIdExists(item.id)"
            @click="toggleSelectedTask(DEFINES.REMOVE_OPERATION_STRING,item.id)"
          >$vuetify.icons.td_task_selected</v-icon>
          <!-- This icon will be displayed when task is not selected -->
          <v-icon v-else @click="toggleSelectedTask(DEFINES.PUSH_OPERATION_STRING,item.id)">$vuetify.icons.td_task_unselected</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="item.title"></v-list-item-title>
          <v-list-item-subtitle v-text="item.completion_date"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <v-icon color="grey" @click="redirect(item.id)">$vuetify.icons.td_view_list</v-icon>
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <v-pagination
      class="mt-5"
      color="pink"
      v-if="api_response"
      v-model="page"
      :length="api_response.last_page"
    ></v-pagination>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { isExistInArray, pushIntoArray, removeFromArray } from "@/helper";
import i18n from "@/i18n";

export default {
  name: "TaskList",
  data: () => ({
    page: 1,
    selected_ids: [],
    api_response: null
  }),

  watch: {
    page() {
      this.getList();
    }
  },
  computed: {
    ...mapState({
      list: state => state.task.list
    })
  },

  mounted() {
    this.getList();
  },

  methods: {
    async getList() {
      try {
        let response = await this.$store.dispatch("task/list", {
          page: this.page
        });
        this.api_response = response.result;

      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    redirect(task_id) {
      this.$router.push({
        name: "TaskOverview",
        params: {
          id: task_id
        }
      });
    },

    taskIdExists(id) {
      return isExistInArray(this.selected_ids, id);
    },

    toggleSelectedTask(operation, id) {
      this.selected_ids =
        operation == this.DEFINES.PUSH_OPERATION_STRING
          ? pushIntoArray(this.selected_ids, id)
          : removeFromArray(this.selected_ids, id);
    },

    async deleteMultiple() {
      try {
        await this.$store.dispatch("task/deleteMultiple", {
          ids: this.selected_ids
        });
        this.onAfterDeleteMultiple();
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    async onAfterDeleteMultiple() {
      // Empty the selected_id's array
      this.selected_ids = [];

      // Fetch latest list
      await this.$store.dispatch("task/list");

      // Disptach message of succession
      this.$store.dispatch("globals/showMessage", {
        message: i18n.t('msg.task_deleted_successfully'),
        color: "success"
      });
    }
  }
};
</script>
