<template>
  <v-navigation-drawer
      :value="value"
      absolute
      temporary
    >

    <!-- Drawer list will be shown by this component -->
    <ListMenu :menus="menu"></ListMenu>

    <!-- Logout component is added -->
    <Logout></Logout>
  </v-navigation-drawer>
</template>

<script>
import ListMenu from '../drawer/ListMenu'
import Logout from '@/components/logout/Logout'

export default {
  props: ["value"],

  components: {
    ListMenu,
    Logout
  },

  data() {
    return {
      menu: [
        {
          title: "title.completed_task",
          icon: "$vuetify.icons.td_check",
          route: "CompletedTask",
          params: { user_id: this.$store.state.user.user.id }
        },
        {
          title: "title.pending_task",
          icon: "$vuetify.icons.td_pending",
          route: "PendingTask",
          params: { user_id: this.$store.state.user.user.id }
        },
        {
          title: "title.deleted_task",
          icon: "$vuetify.icons.td_delete",
          route: "DeletedTask",
          params: { user_id: this.$store.state.user.user.id }
        },
        {
          title: "title.expired_task",
          icon: "$vuetify.icons.td_expired",
          route: "ExpiredTask",
          params: { user_id: this.$store.state.user.user.id }
        },
        {
          title: "title.collaborated_task",
          icon: "$vuetify.icons.td_collaborate",
          route: "CollaboratedTask",
          params: { user_id: this.$store.state.user.user.id }
        }
      ],
      group: null
    }
  },

  watch: {
    group () {
      this.drawer = false
    }
  }
}
</script>
