<template>
  <v-list
      nav
      dense
    >
    <template v-for="(item, index) in menus">
      <v-list-item :key="index" :to="{name: item.route, params: item.params}">
        <v-list-item-icon>
          <v-icon color="pink" class="mt-3">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <a :href="item.link" style="text-decoration: none; color: black">
            <v-list-item-title class="body-2 my-3 font-weight-light">{{ $t(item.title) }}</v-list-item-title>
          </a>
        </v-list-item-content>
      </v-list-item>
      <v-divider v-if="index < menus.length" :key="`divider-${index}`"></v-divider>
    </template>
        
  </v-list>
</template>

<script>
export default {
  props: ["menus"]
};
</script>
