<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-sheet>
          <sheet-footer>
            <v-card flat>
              <v-toolbar flat class="justify-center">
                <v-toolbar-title class="pink--text subheading">{{ $t('title.login') }}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    color="pink"
                    outlined
                    prepend-icon="$vuetify.icons.td_mail"
                    :label="$t('label.email')"
                    v-model="email"
                    type="email"
                    :rules="[rules.required,rules.email(email)]"
                  ></v-text-field>
                  <v-text-field
                    color="pink"
                    :autofocus="activeOtpField"
                    outlined
                    prepend-icon="$vuetify.icons.td_otp"
                    :disabled="!activeOtpField"
                    :label="$t('label.otp')"
                    v-model="otp"
                    type="text"
                    :rules="[rules.required,rules.numeric(otp),rules.exact_length(6)]"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  outlined
                  dark
                  color="pink"
                  @click="$router.push({ name : 'Register'})"
                >{{ $t('btn.sign_up') }}</v-btn>
                <v-spacer></v-spacer>
                <v-btn outlined dark v-if="activeOtpField" color="pink" @click="submit()">{{ $t('btn.login') }}</v-btn>
                <v-btn outlined dark v-else color="pink" @click="login()">{{ $t('btn.send_otp') }}</v-btn>
              </v-card-actions>
            </v-card>
          </sheet-footer>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import i18n from '@/i18n';
import rules from "@/validation";

export default {
  data: () => ({
    email: null,
    otp: null,
    activeOtpField: false,
    rules
  }),

  computed: {
    ...mapState({
      session_key: state => state.auth.key
    })
  },

  methods: {
    activatioOtpField() {
      this.activeOtpField = true;
    },

    async login() {
      try {
        await this.$store.dispatch("auth/login", {
          email: this.email,
          key: this.session_key
        });
        this.activeOtpField = true;
        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.otp_sent_successfully'),
          color: 'success'
        });
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    async submit() {
      try {
        await this.$store.dispatch("auth/verifyOtp", {
          otp: this.otp,
          key: this.session_key
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.sign_in_successfully'),
          color: 'success'
        });

        this.$router.push({ name: "Dashboard" });
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
};
</script>