<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-sheet height="424">
          <sheet-footer>
            <v-card flat>
              <v-toolbar flat>
                <v-toolbar-title class="pink--text subheading">{{ $t('title.register_user') }}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    color="pink"
                    outlined
                    prepend-icon="$vuetify.icons.td_user"
                    :readonly="activeOtpField"
                    :label="$t('label.name')"
                    v-model="name"
                    type="text"
                    :rules="[rules.required,rules.max_length(15)]"
                  ></v-text-field>
                  <v-text-field
                    color="pink"
                    outlined
                    prepend-icon="$vuetify.icons.td_mail"
                    :readonly="activeOtpField"
                    :label="$t('label.email')"
                    v-model="email"
                    type="email"
                    :rules="[rules.required,rules.email(email)]"
                  ></v-text-field>
                  <v-text-field
                    color="pink"
                    outlined
                    prepend-icon="$vuetify.icons.td_phone"
                    :readonly="activeOtpField"
                    :label="$t('label.phone')"
                    v-model="phone"
                    type="tel"
                    :rules="[rules.required,rules.numeric(phone),rules.exact_length(10)]"
                  ></v-text-field>
                  <v-text-field
                    color="pink"
                    outlined
                    prepend-icon="$vuetify.icons.td_otp"
                    :disabled="!activeOtpField"
                    :label="$t('label.otp')"
                    v-model="otp"
                    type="text"
                    :rules="[rules.required,rules.numeric(otp),rules.exact_length(6)]"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn dark outlined color="pink" @click="$router.push({ name : 'Login'})">{{ $t('btn.sign_in') }}</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  dark
                  outlined
                  color="pink"
                  v-if="!activeOtpField"
                  @click="registerUser()"
                >{{ $t('btn.sign_up') }}</v-btn>
                <v-btn v-else outlined color="pink" @click="submit()">{{ $t('btn.verify_otp') }}</v-btn>
              </v-card-actions>
            </v-card>
          </sheet-footer>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import i18n from '@/i18n';
import rules from "@/validation";

export default {
  data: () => ({
    name: null,
    email: null,
    phone: null,
    otp: null,
    activeOtpField: false,
    rules
  }),

  computed: {
    ...mapState({
      session_key: state => state.auth.key
    })
  },

  methods: {
    async registerUser() {
      try {
        await this.$store.dispatch("auth/register", {
          name: this.name,
          email: this.email,
          phone: this.phone
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.registration_successfull'),
          color: 'success'
        });

        this.activeOtpField = true;
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    async submit() {
      try {
        await this.$store.dispatch("auth/verifyOtp", {
          otp: this.otp,
          key: this.session_key
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.verify_otp'),
          color: 'success'
        });

        this.$router.push({ name: "Dashboard" });
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
};
</script>