<template>
  <v-list nav dense>
    <v-list-item>
      <v-list-item-icon>
        <v-icon color="pink">$vuetify.icons.td_logout</v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title @click="confirmation_dialog = true" class="body-2 font-weight-light">{{ $t('btn.logout') }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>

    <ConfirmationDialog
      v-model="confirmation_dialog"
      :dialog="confirmation_dialog"
      @confirm="logout()"
      @cancel="confirmation_dialog = false"
    ></ConfirmationDialog>

  </v-list>
</template>

<script>
import ConfirmationDialog from "@/components/dialogs/task/Confirmation";
import { mapState } from "vuex";
import i18n from "@/i18n";

export default {
  props: ["value"],

  components: {
    ConfirmationDialog
  },

  data() {
    return {
      confirmation_dialog: false
    }
  },

  computed: {
    ...mapState({
      session_key: state => state.auth.key
    })
  },

  methods: {
    async logout() {
      try {
        await this.$store.dispatch("auth/logout", {
          key: this.session_key
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.logout_successfully'),
          color: "success"
        });
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
}
</script>