<template>
  <v-dialog :value="dialog" max-width="290">
    <v-card>
      <v-card-title class="subheading">{{ $t('confirmation.title') }}</v-card-title>
      <v-card-text>{{$t('confirmation.description')}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" dark outlined @click="$emit('cancel')">{{ $t('btn.no') }}</v-btn>
        <v-btn color="pink" dark outlined @click="$emit('confirm')">{{ $t('btn.yes') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConfirmationDialog',
  props: ["dialog"],
}
</script>
