<template>
  <v-dialog :value="dialog" persistent max-width="450px">
    <v-card>
      <v-card-title class="headline ml-3 pink--text">{{ $t('title.new_task') }}</v-card-title>

      <v-card-text class="justify-left">
        <v-container>
          <v-row>
            <v-col cols="12" class="pb-0">
              <v-text-field outlined :label="$t('label.task_title')" v-model="title" :rules="[rules.required,rules.min_length(3), rules.max_length(15)]"></v-text-field>
            </v-col>
            <v-col cols="12" class="py-0">
              <v-textarea outlined :label="$t('label.task_description')" v-model="description" :rules="[rules.max_length(50)]"></v-textarea>
            </v-col>
            <v-col cols="12" class="py-0">
              <v-menu ref="menu" v-model="menu" :close-on-content-click="false" transition="scale-transition" offset-y min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field outlined v-model="completion_date" :label="$t('label.task_deadline_date')" readonly v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="completion_date" no-title scrollable color="pink">
                  <v-spacer></v-spacer>
                  <v-btn color="grey" dark outlined @click="menu = false">{{ $t('btn.cancel') }}</v-btn>
                  <v-btn color="pink" dark outlined @click="$refs.menu.save(completion_date)">{{ $t('btn.ok') }}</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" dark outlined @click="$emit('cancel')">{{ $t('btn.cancel') }}</v-btn>
        <v-btn color="pink" dark outlined @click="createTask()">{{ $t('btn.create') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import i18n from "@/i18n";
import rules from "@/validation";

export default {
  name: 'CreateDialog',
  props: ["dialog"],
  data () {
    return {
      rules,
      title: null,
      description: null,
      completion_date: null,
      menu: false,
    }
  },

  methods: {
    async createTask(){
      try {
        await this.$store.dispatch('task/create',{
          title: this.title,
          description: this.description,
          completion_date: this.completion_date
        })

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.task_created_successfully'),
          color: 'success'
        });

        this.$emit('cancel');
        await this.$store.dispatch("task/list");
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message,
          color:'red'
        })
      }
    }
  },
}
</script>
