<template>
  <v-dialog :value="dialog" persistent max-width="450px">
    <v-card>
      <v-card-title class="headline ml-3 pink--text">{{ $t('title.edit_task') }}</v-card-title>
      <v-card-text v-if="task" ml-0>
        <v-col cols="12" class="pb-0">
          <v-text-field outlined :label="$t('label.title')" v-model="task.title" :rules="[rules.required,rules.min_length(3), rules.max_length(15)]"></v-text-field>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-textarea outlined :label="$t('label.description')" v-model="task.description" :rules="[rules.max_length(50)]"></v-textarea>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            :return-value.sync="task.completion_date"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                outlined
                v-model="task.completion_date"
                :label="$t('label.task_deadline_date')"
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="task.completion_date" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu = false">{{ $t('btn.cancel') }}</v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.menu.save(task.completion_date)"
              >{{ $t('btn.ok') }}</v-btn>
            </v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" class="py-0">
          <v-checkbox v-model="task.is_completed" color="pink" :label="$t('task_completed_label')"></v-checkbox>
        </v-col>
      </v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn color="grey" dark outlined @click="$emit('cancel')">Discard</v-btn>
        <v-btn color="pink" dark outlined @click="updateTask()">{{ $t('btn.save') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import i18n from "@/i18n";
import rules from "@/validation";

export default {
  name: "EditDialog",
  props: ["dialog", "task"],
  data() {
    return {
      menu: false,
      rules
    };
  },

  methods: {
    async updateTask() {
      try {
        await this.$store.dispatch("task/update", {
          task: this.task
        });

        this.$store.dispatch("globals/showMessage", {
          message: i18n.t('msg.task_updated_successfully'),
          color: 'success'
        });

        // closing edit dialog
        this.$emit("cancel");
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
};
</script>
