<template>
<!-- Dialog will be open in fill screen -->
  <v-dialog :value="dialog" fullscreen hide-overlay>
    <v-card>

      <v-card-title class="subheading ml-n2">{{ $t('label.collaborate') }}</v-card-title>

      <v-card-text>
        <v-container fluid>
          <v-row
            align="center"
          >
            <v-col cols="12" sm="6">
              <v-autocomplete
                v-model="users_id"
                :items="list"
                item-text="email"
                item-value="id"
                dense
                chips
                small-chips
                label="Enter Email"
                multiple
                @input="searchEmail=null"
                :search-input.sync="searchEmail"
                :menu-props="{ 'maxHeight':'160px', 'openOnClick': false }"
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>

      <v-card-actions class="mt-12">
        <v-spacer></v-spacer>
        <v-btn color="grey" dark outlined @click="$emit('cancel')">{{ $t('btn.cancel') }}</v-btn>
        <v-btn color="pink" dark outlined @click="collaborateTask()">{{ $t('btn.collaborate') }}</v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: 'SearchUserDialog',
  props: ["dialog"],

  data: () => ({
    search: null,
    users_id: [],
    searchEmail: null
  }),

  computed: {
    ...mapState({
      list: state => state.user.list
    })
  },

  mounted() {
    this.getUsers();
  },

  methods: {
    async getUsers() {
      try {
        await this.$store.dispatch("user/list");
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    async collaborateTask() {
      try {
        await this.$store.dispatch("task/collaborateTask", {
          users_id: this.users_id,
          task_id: this.$route.params.id
        });

        this.$emit('cancel');
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
}
</script>