<template>
  <div>
    <v-toolbar flat class="justify-center">
      <v-app-bar-nav-icon color="pink" v-if="isHome()" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <!-- If back route is defined -->
      <div v-if="!isHome()">
        <v-btn icon color="pink" class="ml-n4">
          <v-icon @click="goBack">$vuetify.icons.td_back</v-icon>
        </v-btn>
      </div>
      <v-toolbar-title class="pink--text subheading">{{ this.$route.meta.title }}</v-toolbar-title>
      <v-spacer></v-spacer>

      <div v-if="isHome()" class="ma-n3">
        <v-btn color="pink" @click="$router.push({ name : 'Profile', params: {user_id: $store.state.user.user.id}})" icon>
          <v-icon>$vuetify.icons.td_account</v-icon>
        </v-btn>

        <v-btn color="pink" @click="$router.push({ name : 'Notification' })" icon>
          <v-icon>$vuetify.icons.td_notification</v-icon>
          <v-badge color="green" left v-if="unread_messages_count">
            <template v-slot:badge>
              <span>{{ unread_messages_count }}</span>
            </template>
          </v-badge>
        </v-btn>

      </div>
    </v-toolbar>

    <Drawer v-model="drawer"></Drawer>
    
    <!-- It will reload the app layout whenever the route changes -->
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { EventBus } from "@/event-bus";
import Drawer from '@/components/drawer/Drawer'

export default {
  name: "AppLayout",

  data: () => ({
    closeOnClick: true,
    header: null,
    unread_messages_count: 0,
    drawer: false
  }),

  components: {
    Drawer
  },

  computed: {
    ...mapState({
      notifications: state => state.notification.list
    })
  },

  created() {
    EventBus.$on("notification_recieved", () => {
      this.unread_messages_count++ ;
    });
    EventBus.$on("reset_notification", () => {
      this.unread_messages_count = 0 ;
    });
  },

  mounted() {
    this.getNotifications()
  },

  methods: {
    isHome: function() {
      return this.$router.currentRoute.name == "Dashboard";
    },

    goBack() {
      if (this.$route.meta.backRoute != undefined) {
        this.$router.push({ name: this.$route.meta.backRoute});
      } else {
        window.history.length > 1
          ? this.$router.go(-1)
          : this.$router.push({ name: "Dashboard" });
      }
    },

    async getNotifications() {
      try {
        await this.$store.dispatch('notification/list')
        this.notifications.forEach(element => {
          if(!element.is_read){
            this.unread_messages_count++
          }
        });
      } catch (error) {
        this.$store.dispatch('globals/showMessage', {
          message: error.message
        })
      }
    }
  }
};
</script>
