<template>
  <div>
    <v-btn fixed dark fab bottom right color="pink" @click="create_dialog = true">
      <v-icon>$vuetify.icons.td_add</v-icon>
    </v-btn>

    <TaskList></TaskList>

    <CreateDialog
      v-model="create_dialog"
      :dialog="create_dialog"
      v-if="create_dialog"
      @cancel="create_dialog = false"
    ></CreateDialog>
  </div>
</template>

<script>
import CreateDialog from "@/components/dialogs/task/Create";
import TaskList from "@/pages/Task/List";

export default {
  data: () => ({
    create_dialog: false
  }),
  components: {
    CreateDialog,
    TaskList
  }
};
</script>
