<template>
  <v-row>
    <v-col cols="12" sm="6" md="4" lg="3">
      <div v-if="notifications && notifications.length">
        <v-list dense class="mb-2 pt-0">
          <template v-for="(item , i) in notifications">
            <v-list-item :key="i" :class="item.is_read ? 'caption' : 'caption font-weight-bold'">
              <v-list-item-content>
                <v-list-item-title class="pt-0">{{ item.type }}</v-list-item-title>
                <v-list-item-subtitle class="my-0">{{ item.title }}</v-list-item-subtitle>
                <v-list-item-subtitle class="pink--text my-0">{{moment(item.created_at).fromNow()}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider :key="`divider-${i}`"></v-divider>
          </template>
        </v-list>
      </div>
      <div v-else>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="caption text--primary text-center">
              {{ $t('nothing_to_show') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </div>
      
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import { EventBus } from "@/event-bus";

export default {
  data(){
    return {
    }
  },

  computed: {
    ...mapState({
      notifications: state => state.notification.list
    })
  },

  mounted() {
    this.getNotifications()
    
  },

  methods: {
    async getNotifications() {
      try {
        await this.$store.dispatch('notification/list')
      } catch (error) {
        this.$store.dispatch('globals/showMessage', {
          message: error.message
        })
      }
    },

    async markAsRead() {
      try {
        await this.$store.dispatch('notification/markAsRead', this.notifications)
      } catch (error) {
        this.$store.dispatch('globals/showMessage', {
          message: error.message
        })
      }
    },
  },

  beforeRouteLeave(to, from, next) {
    this.markAsRead()
    next();
    EventBus.$emit('reset_notification');
  }
}
</script>