<template>
  <v-card class="my-5" elevation="0">
    <v-card
      class="mx-auto"
      max-width="434"
      tile
      >
      <v-img
        height="100%"
        src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
      >
        <v-row
          align="end"
          class="fill-height"
        >
          <v-col
            align-self="start"
            class="pa-0"
            cols="12"
          >
            <v-avatar
              class="profile"
              size="200"
              tile
            >
              <v-img v-if="user.profile_image_url" :src="user.profile_image_url"></v-img>
              <vue-dropzone
                @vdropzone-complete="afterComplete"
                @vdropzone-success="successUpload"
                ref="myVueDropzone"
                id="dropzone"
                :options="dropzoneOptions"
                :include-styling="false"
                :useCustomSlot="true"
              >
                <v-avatar color="pink" class="mt-12 mb-n12 ml-n12">
                  <v-btn color="white" icon small @click="uploadProfile = !uploadProfile">
                    <v-icon dark>$vuetify.icons.td_camera</v-icon>
                  </v-btn>
                </v-avatar>
              </vue-dropzone>
            </v-avatar>
          </v-col>

          <v-col cols="6" sm="6">
            <span class="title white--text ml-5">{{ user.name }}</span>
          </v-col>
          <v-col cols="6" sm="6">
            <v-btn color="pink" dark icon small @click="update_profile = true">
              <v-icon >$vuetify.icons.td_edit</v-icon>
            </v-btn>
          </v-col>

          <!-- component added to update the name of the user -->
          <Update
            v-model="update_profile"
            :dialog="update_profile"
            v-if="update_profile"
            @cancel="get(),update_profile = false"
          ></Update>

        </v-row>
      </v-img>
    </v-card>

    <v-divider></v-divider>

    <template v-for="(item, index) in menu">
      <v-list-item :key="index">
        <v-list-item-avatar>
          <v-icon color="pink" v-text="item.icon"></v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ $t(item.title) }}</v-list-item-title>
        </v-list-item-content>

        <v-list-item-action>
          <v-btn icon @click="$router.push({name: item.route})">
            <v-icon color="pink">$vuetify.icons.td_right</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-divider v-if="index < menu.length" :key="`divider-${index}`"></v-divider>
    </template>
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { buildHeaders } from "../api/_manager";
import Update from "@/components/profile/Update";


export default {
  data() {
    return {
      update_profile: false,
      oldName: null,
      menu: [
        {
          title: "title.completed_task",
          icon: "$vuetify.icons.td_check",
          route: "CompletedTask"
        },
        {
          title: "title.pending_task",
          icon: "$vuetify.icons.td_pending",
          route: "PendingTask"
        },
        {
          title: "title.deleted_task",
          icon: "$vuetify.icons.td_delete",
          route: "DeletedTask"
        },
        {
          title: "title.expired_task",
          icon: "$vuetify.icons.td_expired",
          route: "ExpiredTask"
        }
      ],
      dropzoneOptions: {
        url: `${this.DEFINES.BASE_API_URL}/user/${this.$route.params.user_id}/image_upload`,
        headers: buildHeaders().headers
      },
      uploadProfile: null
    };
  },

  components: {
    vueDropzone: vue2Dropzone,
    Update
  },

  computed: {
    ...mapState({
      user: state => state.user.user
    })
  },

  mounted() {
    this.get();
  },

  methods: {
    async afterComplete(file) {
      await this.$store.dispatch("media/uploadImage", {
        id: this.user.id,
        file: file
      });
    },

    successUpload() {
      this.$refs.myVueDropzone.removeAllFiles();
      this.get();
    },

    async get() {
      try {
        var data = await this.$store.dispatch("user/get", {
          id: this.user.id
        });
        this.oldName = data.result.name;
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
};
</script>

<style>
.image-div {
  display: flex;
  margin: 25px;
}
.image {
  max-width: 250px;
  margin: 15px;
}
</style>