<template>
  <v-row justify="center">
    <v-dialog :value="dialog" fullscreen hide-overlay>
      <v-card>
        <v-card-title>
          <span class="subheading pink--text">{{ $t('title.profile') }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Name" color="pink" v-model="user.name"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Email" color="pink" v-model="user.email" readonly></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="Mobile" color="pink" v-model="user.phone" readonly></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey" dark outlined @click="$emit('cancel')">{{ $t('btn.cancel') }}</v-btn>
          <v-btn color="pink" dark outlined @click="updateUser()">{{ $t('btn.update') }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: 'Update',
  props: ["dialog"],

  computed: {
    ...mapState({
      user: state => state.user.user
    })
  },

  methods: {
    async updateUser() {
      try {
        if(this.user.name == this.oldName){
          this.$emit('cancel');
          return ;
        }
        await this.$store.dispatch("user/update", {
          id: this.user.id,
          name: this.user.name
        });
        this.$emit('cancel');
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    }
  }
}
</script>