<template>
  <v-app>
    <template v-if="currentLayout == authLayout">
      <auth-layout></auth-layout>
    </template>
    <template v-if="currentLayout == appLayout">
      <app-layout></app-layout>
    </template>
    <notifications group="notification" position="bottom right" closeOnClick />
    <v-snackbar v-if="snackbar.show" bottom :color="snackbar.color" v-model="snackbar.show">
      {{snackbar.text }}
      <v-btn icon class="white">
        <v-icon small class="black--text" @click="snackbar.show = false">$vuetify.icons.td_close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import AppLayout from "./layouts/AppLayout";
import AuthLayout from './layouts/AuthLayout';
import { EventBus } from "@/event-bus";
import DEFINES from '@/defines';

export default {
  name: "App",

  data() {
    return {
      appLayout: DEFINES.LAYOUT_APP,
      authLayout: DEFINES.LAYOUT_AUTH,
      snackbar: {
        show: null,
        text: "",
        color: ""
      }
    };
  },

  components: {
    AppLayout,
    AuthLayout
  },

  computed: {
    ...mapGetters({
      currentLayout: "globals/currentLayout"
    }),
  },

  created() {
    EventBus.$on("showMessage", payload => {
      this.snackbar = {
        show: true,
        color: payload.color,
        text: payload.message
      };
    });

    this.setupPusherForNotifications();
  },

  methods: {
    // To show notifications
    async setupPusherForNotifications() {
      await this.$store.dispatch(
        "event/setupPusherForNotifications"
      );
    }
  }
};
</script>
