<template>
  <div>
    <v-list two-line subheader v-if="list && Object.keys(list).length">
      <v-subheader v-if="payload.multiSelectActions">
        <v-row v-if="payload.isExistMultiSelection">
          <v-col cols="6">{{ $t('label.tasks') }}</v-col>
          <v-col cols="6" v-for="(action,index) in payload.multiSelectActions" :key="index+'multi'" class="pl-12">
            <v-icon
              class="ml-12 pl-10"
              v-if="selected_ids && selected_ids.length"
              text
              color="red"
              @click="beforeConfirmation(action.name)"
            >{{ action.icon }}</v-icon>
          </v-col>
        </v-row>
      </v-subheader>

      <v-list-item v-for="(item,index) in list" :key="index">
        <v-list-item-avatar v-if="payload.multiSelectActions">
          <!-- This icon will be displayed when task is selected -->
          <v-icon
            v-if="taskIdExists(item.id)"
            color="success"
            @click="toggleSelectedTask(DEFINES.REMOVE_OPERATION_STRING,item.id)"
          >$vuetify.icons.td_task_selected</v-icon>
          <!-- This icon will be displayed when task is not selected -->
          <v-icon
            v-else
            @click="toggleSelectedTask(DEFINES.PUSH_OPERATION_STRING,item.id)"
          >$vuetify.icons.td_task_unselected</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="item.title"></v-list-item-title>
          <v-list-item-subtitle v-text="item.completion_date"></v-list-item-subtitle>
        </v-list-item-content>

        <!-- This chip will show if the task is collaborated or not -->
        <v-list-item-content v-if="!item.is_task_owner" class="pa-5">
          <v-chip dark small color="pink">{{ $t('chip.collaborated') }}</v-chip>
        </v-list-item-content>

        <!-- On each action we check that a method needs to be called or route to be pushed -->
        <v-list-item-action v-for="(action,index) in payload.actions" :key="index+'actions'">
          <v-icon
            color="grey"
            @click="action.route ? redirect(action.route,item.id) : beforeConfirmation(action.name,item.id)"
          >{{ action.icon }}</v-icon>
        </v-list-item-action>

        <v-list-item-action v-if="!payload.actions">
          <v-chip small outlined v-if="item.is_completed" dark color="pink">{{ $t('chip.completed') }}</v-chip>
        </v-list-item-action>
      </v-list-item>

      <v-pagination
        class="mt-5"
        color="pink"
        v-if="api_response"
        v-model="page"
        :length="api_response.last_page"
      ></v-pagination>
    </v-list>
    <v-list two-line subheader v-else>
      <p class="body-2 mb-1 text-center pt-3">
        <v-btn icon>
          <v-icon dark x-large>$vuetify.icons.td_nothing_emoji</v-icon>
        </v-btn>
      </p>
      <p class="body-2 mb-1 text-center pt-3">{{ $t('nothing_to_show') }}</p>
    </v-list>

    <ConfirmationDialog
        v-model="confirmation_dialog"
        :dialog="confirmation_dialog"
        @confirm="restore_id ? executeAction(dialogActionName,restore_id) : confirmationAction(dialogActionName)"
        @cancel="confirmation_dialog = false"
      ></ConfirmationDialog>
  </div>
</template>

<script>
import { isExistInArray, pushIntoArray, removeFromArray } from "@/helper";
import ConfirmationDialog from "@/components/dialogs/task/Confirmation";

export default {
  name: "TaskListComponent",

  data() {
    return {
      selected_ids: [],
      list: null,
      page: 1,
      api_response: null,
      confirmation_dialog: false,
      dialogActionName: null,
      restore_id: null,
    };
  },

  components: {
    ConfirmationDialog
  },

  props: {
    payload: {
      type: Object
    }
  },
  watch: {
    page() {
      this.getListFromApi();
    }
  },

  mounted() {
    this.getListFromApi();
  },

  methods: {
    async getListFromApi() {
      let response = await this.$store.dispatch(
        this.payload.api_action,
        {
          page: this.page
        }
      );
      this.list = response.result.data;
      this.api_response = response.result;
    },

    taskIdExists(id) {
      return isExistInArray(this.selected_ids, id);
    },

    toggleSelectedTask(operation, id) {
      this.selected_ids =
        operation == this.DEFINES.PUSH_OPERATION_STRING
          ? pushIntoArray(this.selected_ids, id)
          : removeFromArray(this.selected_ids, id);
    },

    async executeAction(action_name, task_id) {
      try {
        await this.$store.dispatch("task/" + action_name, {
        id: task_id
      });
        this.onAfterConfirmationAction();
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    redirect(route_name, task_id) {
      this.$router.push({
        name: route_name,
        params: {
          id: task_id
        }
      });
    },

    beforeConfirmation(action_name, task_id) {
      this.dialogActionName = action_name;
      this.restore_id = task_id;
      this.confirmation_dialog = true;
    },

    async confirmationAction(action_name){
      try {
        await this.$store.dispatch("task/" + action_name, {
          ids: this.selected_ids
        });
        this.onAfterConfirmationAction();
      } catch (error) {
        this.$store.dispatch("globals/showMessage", {
          message: error.message
        });
      }
    },

    onAfterConfirmationAction() {
      this.getListFromApi();

      // close dialog box
      this.confirmation_dialog = false;
    }
  }
};
</script>